{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "dist/libs/react-column-view"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": [
              "dist/libs/react-column-view"
            ]
          }
        ]
      }
    ]
  ]
}
